#imagen1{
float:left;
width:30%;
height:30%;
margin-left:33%;
margin-top:5%;
padding:0% 0px 0px 0%;
border: 1px solid black;
border-radius:5px 5px 5px 5px;
/*background-image:url(imagenes/jupiter.jpg);*/
background-repeat:
}
#imagen1:hover{
	
transform:scale(3);	
}

#texto{
padding:10px 10px 1px 10px;
}
#texto b{/*cambiar todas las palabra en negrita a color azul*/
color:darkblue;
}

#datos{
/*border:1px solid gray;*/
border-bottom:1px solid gray;
width:100%;
height:2%;
}
#datos ul{
list-style:none;
line-height:1.5;
}

#cuadrodatos{
height:2%;
width:100%;
/*border:1px solid gray;*/
background:silver;
text-align:center;
font-style:bold;
}

