#contenidoarticulos{
float:left;
width:65%;
margin-left:2%;
margin-top:5%;
text-align:justify;
/*border:1px solid silver;*/
box-shadow: 2px 2px 5px silver;
background-color: white;
font-size:14px;
line-height:2;

}
#textoarticulos{
padding-left:5%;
padding-right:5%;
}

#margenlistas{
padding-right:5%;
}
#contenidoarticulos b{
	
color:darkblue;	
}
#titulocontenido{
font-size:16px;	
font-style:italic;
	
}
#imagentelevue{
float:left;
margin-right:1%;
}