#contenido{
	background-color:white;
	border:1px solid white;
}
#texto{
padding:10px 10px 1px 10px;
}
#articulos1{
width:95%;
padding-left:2%;
margin-bottom:5%;
	
}
#tituloarticulos1{
	width:100%;
	height:25%;
	border-bottom:1px solid silver;
	font-size:18px;
	font-weight:bold;
	color:darkblue;
	font-style:italic;
}
#contenidoarticulos1{
	width:100%;
	height:70%;
	font-size:14px;
	text-align:justify;
}
#autorarticulos1{
	width:100%;
	height:25%;
	border-bottom:1px solid silver;
	text-align:right;
	font-style:italic;

}

